<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700784380810-quo9vjonp4h11mngjq1cp8ckut8t1lrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700784380810-quo9vjonp4h11mngjq1cp8ckut8t1lrt</string>
	<key>API_KEY</key>
	<string>AIzaSyDcMih10oGIF3HH_YubrxEg4hRts6e-hrE</string>
	<key>GCM_SENDER_ID</key>
	<string>700784380810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vicenteobando.com.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-fcaf9</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-fcaf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700784380810:ios:9d7355739b05bd36de9673</string>
</dict>
</plist>